// This block contains the Page's content
.content {

    position: relative;
    width: 100%;
}


// This block is used to put rows
.container {

    display: flex;
    flex-flow: column;

}

// This block is used to aligh items in a row way
.row {

    width: 100%;
    display: flex;
    min-height: 1px;

}

// Big screen version
@media screen and (min-width: 768px) {

    .content {

        left: 15%;
        width: 70%;
    }
}